.tab {
    display: flex;
    gap: 30px;
    padding: 30px 90px 2px;
    border-bottom: 1px solid #ccc;
}

.active, .mylist {
    font-weight: bold;
    padding: 0 15px;
    text-decoration: none;
    cursor: pointer;
}

.active {
    color: #f00;
}

.mylist {
    color: #949593;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 35px;
}

.sold-label {
    position: absolute;
    top: 15px;
    left: -35px;
    width: 120px;
    text-align: center;
    background: #ff5a5f;
    color: white;
    font-weight: bold;
    transform: rotate(-45deg);
    z-index: 10;
    padding: 5px 0;
    font-size: 14px;
}

.card {
    width: 200px;
    margin: 10px;
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.card p {
    margin-top: 8px;
    font-size: 18px;
}